{% extends "base.html" %}
{% block title %}{{ block.super }} | Thread Detail{% endblock title %}
{% block content %}
<h1>Posts:</h1>
<ul>
  {% if sorted_posts %}
    {% for post in sorted_posts %}
      <li>
        <strong>Author:</strong> {{ post.author }}<br>
        <strong>Content:</strong> {{ post.content }}<br>
        <strong>Created at:</strong> {{ post.created_at }}<br>
      </li>
    {% endfor %}
  {% else %}
    <li>Sorry, no post yet published.</li>
  {% endif %}
</ul>

{% endblock content %}