<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FORUM{% endblock title %}</title> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
</head>
<body>
    <header>
        <span class="logo">Audio forum</span>          		
        <ul class="nav">                                               
            <li><a href="{% url "index" %}">Statistics</a></li>        <!-- Linkas i index.html 'statistics pavadinimas webe' -->
            <li><a href="{% url "thread_list" %}">Threads</a></li>   
            <li><a href="{% url "post_list" %}">Posts</a></li>          
        </ul>
        <span class="spacer"></span>
        <ul class="nav">
            {% if request.user.is_authenticated %}
                <li><a href="{% url "user_detail_current" %}">{{ user }}</a></li>
                {% if user.is_superuser or user.is_staff %}
                    <li><a href="{% url "admin:index" %}"></a></li>
                {% endif %}
                <li><form method="post" action="{% url "logout" %}">{% csrf_token %}   
                <button type="submit"></button></form></li>
            {% else %}
                <li><a href="{% url "login" %}">log in</a></li>
                <li><a href="{% url "signup" %}">sign up</a></li>
            {% endif %}
        </ul>
    </header>
    <section class="messages">
        {% for message in messages %}
            <p class="message message-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </section>
    <main>{% block content %}{% endblock content %}</main>
</body>
</html>